  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    
  }

  body{
    background: hsl(0, 0%, 94%)

  }
  main{
    margin: 80px 20px;
    background-color:  hsl(0, 0%, 100%);
    border-radius: 20px 20px 100px 20px;
    height: 500px;
  }
  .container{
    display: flex;
    padding: 55px 15px;
    
  }

  .roxo{
    color:hsl(259, 100%, 65%);
    letter-spacing: 15px;
  }
  .inputs{
    font-size: 28px;
    border-radius: 6px;
    border: 1px solid;
    width: 100%;
    border-color: hsl(0, 0%, 86%);
    padding-left: 10px;
    outline: none;
    
  }

 
  label{  
    color: hsl(0, 1%, 44%);
    letter-spacing: 2px;
    font-size: 13px;
   
    

  }
  .flex{
    margin: 0px  7px;
    
  
    
  
  }
  .icon {
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    margin: -35px 140px;
  
  }
  img{
    background:hsl(259, 100%, 65%);
    border-radius: 100%;
    width: 70px;
    padding: 18px;
    
  }
.divider-1{
  height: 1px;
  background-color:  hsl(0, 0%, 86%);
  margin: 0px 20px;
 
}

.years{
  margin: 40px 20px;
  
}
.text{
  font-size: 43px;
  font-weight: 800;
  font-style: italic;
  color: hsl(0, 0%, 8%)
}

.span{
  font-style: italic;
  font-weight: 400;
  font-size: 8px;
  color: red;
  
}


@media screen and (min-width: 1024px) {
  main {
    width: 700px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -65%);
    border-radius: 20px 20px 150px 20px;

  }
   .flex{
    
    width: 150px;
    margin-right: 12px;
    
    margin-bottom: 2px;
    


   }
   
  .inputs{
    width: 140px;
    height: 60px;
    padding-left: 20px;
    
    
    
    
  }
  .container{
    margin-left: 20px;
    padding-bottom: 35px;
  }
  .years{
  
    margin-left: 40px;
    margin-top: 0px;
    
  }
  .text{
    font-size:80px;
    
    height: 80px;

  }
  .divider-1{
    margin-left: 40px;
    margin-right: 90px;

  }
  .icon{
    margin: -35px 550px;
  }
  



}
